<form name="signupForm" ng-controller="testingCtrl">
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" id="email" name="input" class="form-control" ng-model="email.text" placeholder="email address" required>
		<div role="alert">
			<span id="emptyEmail" class="error" ng-show="signupForm.input.$error.required && signupForm.input.$touched">Email is required!</span>
			<span id="invalidEmail" class="error" ng-show="signupForm.input.$error.email">Not valid email!</span>
		</div>
	</div>
	<div class="form-group">
		<label for="firstname">First Name</label>
		<input type="text" id="firstname" name="firstname" class="form-control" ng-model="firstname" placeholder="your first name">
	</div>
	<div class="form-group">
		<label for="lastname">Last Name</label>
		<input type="text" id="lastname" name="lastname" class="form-control" required ng-model="lastname" placeholder="your last name">
		<p class="help-block" id="vlastname" ng-show="signupForm.lastname.$invalid">We need to know your last name.</p>
	</div>
	<div class="form-group">
		<label for="birthdate">Date of Birth</label>
		<input type="date" id="birthdate" name="birthdate" class="form-control" required ng-model="birthdate">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" class="form-control" required ng-model="password">
		<p class="help-block errorBox" id="enterPass1" ng-show="signupForm.password.$invalid">Please enter your password.</p>		
		<p class="help-block matchPass errorBox" ng-show="signupForm.passwor.$invalid">Passwords don't match</p>
	</div>
	<div class="form-group">
		<label for="confirm-password">Confirm Password</label>
		<input type="password" id="confirm" name="confirm" class="form-control" required ng-model="confirm">
		<p class="help-block errorBox" id="enterPass2" ng-show="signupForm.confirm.$invalid">Please enter your password.</p>
		<p class="help-block matchPass errorBox" ng-show="signupForm.confirm.$invalid">Passwords don't match</p>
	</div>
	<div class="form-group">
		<button type="reset" class="btn btn-default">Reset</button>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>